# --- Postgre ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=pass
POSTGRES_DB=ats_agent_db
POSTGRES_HOST=db 
POSTGRES_PORT=5432

# --- OpenAI ---
OPENAI_API_KEY=...
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
# Dimension del modelo de embeddings elegido (text-embedding-3-small = 1536)
EMBEDDING_DIM=1536

# --- Backend ---
BACKEND_PORT=8000

# --- Frontend ---
VITE_API_URL=http://localhost:8000
